In [1]:
pwd

'/Users/ensamba/BCB546X-Fall2017/python-bcb546'

In [2]:
ls

Indexing, slicing and subsetting in python.ipynb
Learning those codes again.ipynb
Pandas-lesson-01-TAH.ipynb
README.md
Trial_work.ipynb
scripts/
species.csv
surveys.csv

In [3]:
 import pandas as pd

In [4]:
surveys_df = pd.read_csv("surveys.csv")

In [5]:
surveys_df['weight'].count

<bound method Series.count of 0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
8         NaN
9         NaN
10        NaN
11        NaN
12        NaN
13        NaN
14        NaN
15        NaN
16        NaN
17        NaN
18        NaN
19        NaN
20        NaN
21        NaN
22        NaN
23        NaN
24        NaN
25        NaN
26        NaN
27        NaN
28        NaN
29        NaN
         ...
35519    36.0
35520    48.0
35521    45.0
35522    44.0
35523    27.0
35524    26.0
35525    24.0
35526    43.0
35527     NaN
35528    25.0
35529     NaN
35530     NaN
35531    43.0
35532    48.0
35533    56.0
35534    53.0
35535    42.0
35536    46.0
35537    31.0
35538    68.0
35539    23.0
35540    31.0
35541    29.0
35542    34.0
35543     NaN
35544     NaN
35545     NaN
35546    14.0
35547    51.0
35548     NaN
Name: weight, Length: 35549, dtype: float64>

In [6]:
surveys_df['weight'].describe()

count    32283.000000
mean        42.672428
std         36.631259
min          4.000000
25%         20.000000
50%         37.000000
75%         48.000000
max        280.000000
Name: weight, dtype: float64

In [7]:
surveys_df(['plot_id', 'sex']).count

TypeError: 'DataFrame' object is not callable

In [10]:
surveys_df.groupby(['sex', 'plot_is']).describe()

KeyError: 'plot_is'

In [11]:
surveys_df.groupby(['plot_id', 'sex']).describe()

                day                                                     \
              count       mean       std  min   25%   50%    75%   max
plot_id sex
1       F     848.0  15.338443  8.325993  1.0   9.0  15.0  22.00  31.0
        M    1095.0  15.905936  8.053257  1.0   9.0  16.0  23.00  31.0
2       F     970.0  16.288660  8.046509  1.0  10.0  16.0  23.00  31.0
        M    1144.0  15.440559  8.414667  1.0   9.0  15.0  23.00  31.0
3       F     893.0  16.161254  7.961706  1.0   9.0  16.0  23.00  31.0
        M     840.0  16.450000  7.916120  1.0  10.0  16.0  23.00  31.0
4       F     872.0  15.746560  8.217829  1.0   9.0  16.0  22.00  31.0
        M    1030.0  16.507767  8.257837  1.0   9.0  16.0  23.00  31.0
5       F     527.0  15.722960  8.465716  1.0   9.0  16.0  23.00  31.0
        M     586.0  15.703072  8.227776  1.0   9.0  16.0  22.00  31.0
6       F     737.0  16.313433  8.297017  1.0   9.0  16.0  23.00  31.0
        M     764.0  16.091623  7.984223  1.0   9.0  16.0  23.00  31.0
7       F     335.0  15.313433  8.244412  1.0   9.0  14.0  22.50  31.0
        M     307.0  15.778502  8.134277  1.0   9.0  15.0  23.00  31.0
8       F     840.0  15.836905  8.134936  1.0   9.0  16.0  22.00  31.0
        M     983.0  15.854527  8.219135  1.0   9.0  16.0  23.00  31.0
9       F     853.0  15.555686  8.393954  1.0   9.0  15.0  22.00  31.0
        M    1004.0  15.209163  8.356350  1.0   8.0  15.0  22.00  31.0
10      F     141.0  16.964539  8.516716  1.0  10.0  17.0  24.00  31.0
        M     142.0  16.739437  8.423776  1.0  10.0  16.5  24.00  31.0
11      F     822.0  16.283455  8.342322  1.0   9.0  16.0  23.00  31.0
        M    1029.0  15.974733  8.018300  1.0  10.0  16.0  22.00  31.0
12      F    1060.0  16.305660  8.252677  1.0  10.0  16.0  23.00  31.0
        M    1200.0  16.367500  8.263535  1.0  10.0  16.0  23.00  31.0
13      F     628.0  16.229299  8.295478  1.0   9.0  16.0  23.00  31.0
        M     783.0  16.005109  8.161727  1.0   9.0  16.0  23.00  31.0
14      F     709.0  16.681241  8.418768  1.0  10.0  16.0  24.00  31.0
        M    1070.0  16.504673  8.321727  1.0  10.0  16.0  23.75  31.0
15      F     481.0  16.162162  8.287962  1.0  10.0  16.0  23.00  31.0
        M     409.0  17.413203  7.889738  1.0  12.0  17.0  24.00  31.0
16      F     222.0  16.819820  8.805282  1.0  10.0  16.0  25.00  31.0
        M     273.0  16.622711  8.176846  1.0  10.0  16.0  23.00  31.0
17      F     892.0  15.892377  8.461418  1.0   9.0  15.0  23.00  31.0
        M    1053.0  16.183286  8.251606  1.0   9.0  16.0  23.00  31.0
18      F     755.0  15.960265  8.272290  1.0   9.0  15.0  23.00  31.0
        M     626.0  16.797125  8.082300  1.0  10.0  16.0  23.00  31.0
19      F     522.0  15.226054  7.853667  1.0   9.0  15.0  22.00  31.0
        M     581.0  16.647160  8.053556  1.0  10.0  16.0  23.00  31.0
20      F     650.0  16.026154  8.304913  1.0   9.0  15.0  23.00  31.0
        M     613.0  16.375204  8.293011  1.0   9.0  16.0  23.00  31.0
21      F     611.0  16.307692  8.242448  1.0  10.0  16.0  23.00  31.0
        M     451.0  16.203991  8.328696  1.0   9.0  16.0  23.00  31.0
22      F     671.0  15.521610  8.129680  1.0   9.0  15.0  22.00  31.0
        M     673.0  16.682021  8.117620  1.0  10.0  16.0  23.00  31.0
23      F     165.0  16.036364  8.776973  1.0   9.0  15.0  24.00  30.0
        M     207.0  16.077295  7.955203  1.0  10.0  16.0  23.00  31.0
24      F     486.0  16.393004  8.367578  1.0   9.0  16.0  24.00  31.0
        M     485.0  16.971134  8.431738  1.0  10.0  17.0  24.00  31.0

            hindfoot_length              ...   weight           year  \
                      count       mean   ...      75%    max   count
plot_id sex                              ...
1       F             808.0  31.733911   ...    50.00  196.0   848.0
        M            1047.0  34.302770   ...    54.00  231.0  1095.0
2       F             918.0  30.161220   ...    51.00  274.0   970.0
        M            1077.0  30.353760   ...    50.00  278.0  1144.0
3       F             863.0  23.774044   ...    34.00  199.0   893.0
        M             812.0  23.833744   ...    39.00  250.0   840.0
4       F             835.0  33.249102   ...    47.00  200.0   872.0
        M             980.0  34.097959   ...    50.00  187.0  1030.0
5       F             499.0  28.921844   ...    45.00  248.0   527.0
        M             557.0  29.694794   ...    49.00  240.0   586.0
6       F             696.0  26.981322   ...    41.00  188.0   737.0
        M             719.0  27.425591   ...    46.00  241.0   764.0
7       F             313.0  19.779553   ...    23.00  170.0   335.0
        M             300.0  20.536667   ...    23.00  235.0   307.0
8       F             805.0  32.187578   ...    50.00  178.0   840.0
        M             944.0  33.751059   ...    52.00  173.0   983.0
9       F             801.0  35.126092   ...    54.00  177.0   853.0
        M             956.0  34.175732   ...    50.00  275.0  1004.0
10      F             134.0  18.641791   ...    20.00  130.0   141.0
        M             134.0  19.567164   ...    22.00  237.0   142.0
11      F             785.0  32.029299   ...    46.00  208.0   822.0
        M             987.0  32.078014   ...    49.00  212.0  1029.0
12      F            1005.0  30.975124   ...    48.25  264.0  1060.0
        M            1141.0  31.762489   ...    50.00  280.0  1200.0
13      F             592.0  27.201014   ...    42.00  192.0   628.0
        M             725.0  27.893793   ...    47.00  241.0   783.0
14      F             676.0  32.973373   ...    48.00  211.0   709.0
        M            1021.0  32.961802   ...    50.00  222.0  1070.0
15      F             459.0  21.949891   ...    26.00  198.0   481.0
        M             386.0  21.803109   ...    25.00  259.0   409.0
16      F             207.0  23.144928   ...    31.00  158.0   222.0
        M             262.0  23.480916   ...    35.00   61.0   273.0
17      F             847.0  30.918536   ...    49.00  192.0   892.0
        M            1006.0  32.227634   ...    51.00  216.0  1053.0
18      F             704.0  26.690341   ...    40.00  212.0   755.0
        M             586.0  27.703072   ...    48.00  256.0   626.0
19      F             504.0  21.257937   ...    29.00  139.0   522.0
        M             558.0  21.071685   ...    25.00  100.0   581.0
20      F             607.0  27.069193   ...    48.00  220.0   650.0
        M             568.0  27.908451   ...    47.00  223.0   613.0
21      F             592.0  22.366554   ...    31.00  188.0   611.0
        M             433.0  21.736721   ...    32.00  190.0   451.0
22      F             637.0  34.108320   ...    54.00  161.0   671.0
        M             631.0  33.359746   ...    53.00  212.0   673.0
23      F             154.0  20.051948   ...    23.00  199.0   165.0
        M             200.0  19.850000   ...    22.00  131.0   207.0
24      F             453.0  26.993377   ...    44.00  251.0   486.0
        M             446.0  25.786996   ...    45.00  230.0   485.0


                    mean       std     min     25%     50%      75%     max
plot_id sex
1       F    1990.933962  7.678171  1977.0  1983.0  1991.0  1998.00  2002.0
        M    1990.091324  7.265208  1977.0  1983.0  1990.0  1997.00  2002.0
2       F    1990.449485  7.519910  1977.0  1984.0  1990.0  1997.00  2002.0
        M    1990.756119  7.714444  1977.0  1983.0  1991.0  1998.00  2002.0
3       F    1992.013438  6.811511  1977.0  1987.0  1992.0  1998.00  2002.0
        M    1992.275000  7.040448  1977.0  1987.0  1993.0  1998.00  2002.0
4       F    1990.235092  7.535359  1977.0  1983.0  1990.0  1997.00  2002.0
        M    1991.000971  7.148909  1977.0  1985.0  1991.0  1997.00  2002.0
5       F    1986.485769  6.160966  1977.0  1982.0  1985.0  1990.00  2002.0
        M    1986.817406  6.230812  1977.0  1982.0  1985.0  1991.00  2002.0
6       F    1991.579376  8.054637  1977.0  1984.0  1991.0  2000.00  2002.0
        M    1990.556283  7.555524  1977.0  1984.0  1989.5  1997.00  2002.0
7       F    1991.441791  5.249070  1977.0  1988.0  1991.0  1996.00  2002.0
        M    1991.462541  5.881265  1977.0  1988.0  1991.0  1997.00  2002.0
8       F    1991.267857  7.493878  1977.0  1985.0  1991.0  1998.00  2002.0
        M    1991.686673  6.996908  1977.0  1986.0  1992.0  1998.00  2002.0
9       F    1989.303634  7.768689  1977.0  1982.0  1989.0  1997.00  2002.0
        M    1990.632470  7.322195  1977.0  1985.0  1990.0  1997.00  2002.0
10      F    1989.248227  5.898130  1977.0  1986.0  1989.0  1993.00  2002.0
        M    1989.007042  5.999405  1977.0  1984.0  1989.0  1994.50  2002.0
11      F    1989.836983  7.457566  1977.0  1983.0  1989.0  1997.00  2002.0
        M    1989.856171  7.440733  1977.0  1983.0  1990.0  1997.00  2002.0
12      F    1990.266981  7.489712  1977.0  1983.0  1990.0  1997.00  2002.0
        M    1990.400833  7.422449  1977.0  1983.0  1990.0  1997.00  2002.0
13      F    1990.619427  7.914217  1977.0  1983.0  1991.0  1998.00  2002.0
        M    1989.911877  7.694363  1977.0  1982.0  1989.0  1997.00  2002.0
14      F    1989.974612  7.836387  1977.0  1983.0  1990.0  1997.00  2002.0
        M    1990.587850  7.083707  1977.0  1984.0  1991.0  1997.00  2002.0
15      F    1992.523909  8.020024  1977.0  1985.0  1996.0  2000.00  2002.0
        M    1990.770171  7.900483  1977.0  1983.0  1991.0  1997.00  2002.0
16      F    1991.351351  7.132424  1977.0  1987.0  1991.0  1997.00  2002.0
        M    1990.926740  7.495228  1977.0  1985.0  1990.0  1997.00  2002.0
17      F    1990.785874  7.987371  1977.0  1983.0  1991.0  1998.00  2002.0
        M    1991.331434  7.526842  1977.0  1985.0  1993.0  1997.00  2002.0
18      F    1990.536424  8.131361  1977.0  1983.0  1991.0  1998.00  2002.0
        M    1988.551118  7.583441  1977.0  1982.0  1987.0  1996.00  2002.0
19      F    1993.417625  6.727341  1977.0  1989.0  1995.0  1999.00  2002.0
        M    1991.740103  7.451424  1977.0  1985.0  1993.0  1998.00  2002.0
20      F    1990.253846  7.955105  1977.0  1983.0  1989.0  1997.75  2002.0
        M    1989.243067  7.751321  1977.0  1982.0  1988.0  1997.00  2002.0
21      F    1993.878887  7.001995  1977.0  1989.0  1996.0  2000.00  2002.0
        M    1992.199557  7.325456  1977.0  1986.5  1995.0  1998.00  2002.0
22      F    1990.973174  7.701668  1977.0  1984.0  1991.0  1998.00  2002.0
        M    1990.650817  7.868993  1977.0  1983.0  1989.0  1998.00  2002.0
23      F    1989.024242  6.454297  1977.0  1984.0  1988.0  1993.00  2002.0
        M    1989.961353  6.509027  1977.0  1986.0  1989.0  1996.00  2002.0
24      F    1987.485597  6.340412  1979.0  1982.0  1986.0  1991.00  2002.0
        M    1988.641237  6.825992  1979.0  1982.0  1987.0  1995.00  2002.0

[48 rows x 48 columns]

In [12]:
surveys_df['species_id'].nunique()

48

In [13]:
surveys_df['species_id'].count

<bound method Series.count of 0         NL
1         NL
2         DM
3         DM
4         DM
5         PF
6         PE
7         DM
8         DM
9         PF
10        DS
11        DM
12        DM
13        DM
14        DM
15        DM
16        DS
17        PP
18        PF
19        DS
20        DM
21        NL
22        DM
23        SH
24        DM
25        DM
26        DM
27        DM
28        PP
29        DS
        ...
35519     SF
35520     DM
35521     DM
35522     DM
35523     PB
35524     OL
35525     OT
35526     DO
35527     US
35528     PB
35529     OT
35530     PB
35531     DM
35532     DM
35533     DM
35534     DM
35535     DM
35536     DM
35537     PB
35538     SF
35539     PB
35540     PB
35541     PB
35542     PB
35543     US
35544     AH
35545     AH
35546     RM
35547     DO
35548    NaN
Name: species_id, Length: 35549, dtype: object>

In [14]:
surveys_species = surveys_df.species_id

In [15]:
surveys_species

0         NL
1         NL
2         DM
3         DM
4         DM
5         PF
6         PE
7         DM
8         DM
9         PF
10        DS
11        DM
12        DM
13        DM
14        DM
15        DM
16        DS
17        PP
18        PF
19        DS
20        DM
21        NL
22        DM
23        SH
24        DM
25        DM
26        DM
27        DM
28        PP
29        DS
        ...
35519     SF
35520     DM
35521     DM
35522     DM
35523     PB
35524     OL
35525     OT
35526     DO
35527     US
35528     PB
35529     OT
35530     PB
35531     DM
35532     DM
35533     DM
35534     DM
35535     DM
35536     DM
35537     PB
35538     SF
35539     PB
35540     PB
35541     PB
35542     PB
35543     US
35544     AH
35545     AH
35546     RM
35547     DO
35548    NaN
Name: species_id, Length: 35549, dtype: object

In [2]:
species_plot_id = surveys_df[['species_id' 'plot_id']]

NameError: name 'surveys_df' is not defined

In [3]:
import pandas as pd

In [4]:
surveys_df = pd.read_csv("surveys.csv")

In [5]:
species_plot_id = surveys_df[['species_id', 'plot_id']].count

In [6]:
species_plot_id

<bound method DataFrame.count of       species_id  plot_id
0             NL        2
1             NL        3
2             DM        2
3             DM        7
4             DM        3
5             PF        1
6             PE        2
7             DM        1
8             DM        1
9             PF        6
10            DS        5
11            DM        7
12            DM        3
13            DM        8
14            DM        6
15            DM        4
16            DS        3
17            PP        2
18            PF        4
19            DS       11
20            DM       14
21            NL       15
22            DM       13
23            SH       13
24            DM        9
25            DM       15
26            DM       15
27            DM       11
28            PP       11
29            DS       10
...          ...      ...
35519         SF        9
35520         DM        9
35521         DM        9
35522         DM        9
35523         PB        9
35524         OL        9
35525         OT        8
35526         DO       13
35527         US       13
35528         PB       13
35529         OT       13
35530         PB       13
35531         DM       14
35532         DM       14
35533         DM       14
35534         DM       14
35535         DM       14
35536         DM       14
35537         PB       15
35538         SF       15
35539         PB       15
35540         PB       15
35541         PB       15
35542         PB       15
35543         US       15
35544         AH       15
35545         AH       15
35546         RM       10
35547         DO        7
35548        NaN        5

[35549 rows x 2 columns]>

In [7]:
species_plot_id = surveys_df[['species_id', 'plot_id']]

In [8]:
species_plot_id

      species_id  plot_id
0             NL        2
1             NL        3
2             DM        2
3             DM        7
4             DM        3
5             PF        1
6             PE        2
7             DM        1
8             DM        1
9             PF        6
10            DS        5
11            DM        7
12            DM        3
13            DM        8
14            DM        6
15            DM        4
16            DS        3
17            PP        2
18            PF        4
19            DS       11
20            DM       14
21            NL       15
22            DM       13
23            SH       13
24            DM        9
25            DM       15
26            DM       15
27            DM       11
28            PP       11
29            DS       10
...          ...      ...
35519         SF        9
35520         DM        9
35521         DM        9
35522         DM        9
35523         PB        9
35524         OL        9
35525         OT        8
35526         DO       13
35527         US       13
35528         PB       13
35529         OT       13
35530         PB       13
35531         DM       14
35532         DM       14
35533         DM       14
35534         DM       14
35535         DM       14
35536         DM       14
35537         PB       15
35538         SF       15
35539         PB       15
35540         PB       15
35541         PB       15
35542         PB       15
35543         US       15
35544         AH       15
35545         AH       15
35546         RM       10
35547         DO        7
35548        NaN        5

[35549 rows x 2 columns]

In [9]:
surveys_df[['plot_id', 'species_id']]

       plot_id species_id
0            2         NL
1            3         NL
2            2         DM
3            7         DM
4            3         DM
5            1         PF
6            2         PE
7            1         DM
8            1         DM
9            6         PF
10           5         DS
11           7         DM
12           3         DM
13           8         DM
14           6         DM
15           4         DM
16           3         DS
17           2         PP
18           4         PF
19          11         DS
20          14         DM
21          15         NL
22          13         DM
23          13         SH
24           9         DM
25          15         DM
26          15         DM
27          11         DM
28          11         PP
29          10         DS
...        ...        ...
35519        9         SF
35520        9         DM
35521        9         DM
35522        9         DM
35523        9         PB
35524        9         OL
35525        8         OT
35526       13         DO
35527       13         US
35528       13         PB
35529       13         OT
35530       13         PB
35531       14         DM
35532       14         DM
35533       14         DM
35534       14         DM
35535       14         DM
35536       14         DM
35537       15         PB
35538       15         SF
35539       15         PB
35540       15         PB
35541       15         PB
35542       15         PB
35543       15         US
35544       15         AH
35545       15         AH
35546       10         RM
35547        7         DO
35548        5        NaN

[35549 rows x 2 columns]

In [10]:
surveys_df[2:1]

Empty DataFrame
Columns: [record_id, month, day, year, plot_id, species_id, sex, hindfoot_length, weight]
Index: []

In [11]:
surveys_df[0:2]

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN

In [12]:
surveys_df[1:2]

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
1,2,7,16,1977,3,NL,M,33.0,NaN

In [13]:
a = list(range(10))

In [14]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
a[0:4]

[0, 1, 2, 3]

In [16]:
a[3]

3

In [17]:
a[2,]

TypeError: list indices must be integers or slices, not tuple

In [18]:
a[4:]

[4, 5, 6, 7, 8, 9]

In [19]:
a[:4]

[0, 1, 2, 3]

In [21]:
a_4 = a[5:]

In [22]:
a_4

[5, 6, 7, 8, 9]

In [23]:
a[-5]

5

In [24]:
a[-1]

9

In [26]:
sex_species_plot = surveys_df[['plot_id', 'species_id', 'sex']]

In [27]:
sex_species_plot

       plot_id species_id  sex
0            2         NL    M
1            3         NL    M
2            2         DM    F
3            7         DM    M
4            3         DM    M
5            1         PF    M
6            2         PE    F
7            1         DM    M
8            1         DM    F
9            6         PF    F
10           5         DS    F
11           7         DM    M
12           3         DM    M
13           8         DM  NaN
14           6         DM    F
15           4         DM    F
16           3         DS    F
17           2         PP    M
18           4         PF  NaN
19          11         DS    F
20          14         DM    F
21          15         NL    F
22          13         DM    M
23          13         SH    M
24           9         DM    M
25          15         DM    M
26          15         DM    M
27          11         DM    M
28          11         PP    M
29          10         DS    F
...        ...        ...  ...
35519        9         SF  NaN
35520        9         DM    M
35521        9         DM    F
35522        9         DM    F
35523        9         PB    F
35524        9         OL    M
35525        8         OT    F
35526       13         DO    F
35527       13         US  NaN
35528       13         PB    F
35529       13         OT    F
35530       13         PB    F
35531       14         DM    F
35532       14         DM    F
35533       14         DM    M
35534       14         DM    M
35535       14         DM    F
35536       14         DM    F
35537       15         PB    F
35538       15         SF    M
35539       15         PB    F
35540       15         PB    F
35541       15         PB    F
35542       15         PB    F
35543       15         US  NaN
35544       15         AH  NaN
35545       15         AH  NaN
35546       10         RM    F
35547        7         DO    M
35548        5        NaN  NaN

[35549 rows x 3 columns]

In [28]:
species_plot_id[5:20-60]

      species_id  plot_id
5             PF        1
6             PE        2
7             DM        1
8             DM        1
9             PF        6
10            DS        5
11            DM        7
12            DM        3
13            DM        8
14            DM        6
15            DM        4
16            DS        3
17            PP        2
18            PF        4
19            DS       11
20            DM       14
21            NL       15
22            DM       13
23            SH       13
24            DM        9
25            DM       15
26            DM       15
27            DM       11
28            PP       11
29            DS       10
30            DM       15
31            DM       10
32            DM       11
33            DM       17
34            DM       13
...          ...      ...
35479         OT       16
35480         PB       16
35481         DO       16
35482         DO       16
35483         OT       16
35484         DO       16
35485         DO       16
35486         RO       23
35487         PE       23
35488         PB       23
35489         PE        3
35490         PB        3
35491         PB        3
35492         PB        3
35493         PB        3
35494         OT        3
35495         PB        4
35496         DO        4
35497         DO        4
35498         PB        4
35499         PB        4
35500         DO        4
35501         PP        4
35502         DO        6
35503         PB        6
35504         OT        6
35505         PF        6
35506         PB        6
35507         PB        6
35508         PB        6

[35504 rows x 2 columns]

In [30]:
species_plot_id[20:60:5]

   species_id  plot_id
20         DM       14
25         DM       15
30         DM       15
35         OT       16
40         DM       23
45         DM       19
50         DM       21
55         DM       20

In [31]:
sex_species_plot[20:60:5]

    plot_id species_id sex
20       14         DM   F
25       15         DM   M
30       15         DM   F
35       16         OT   F
40       23         DM   F
45       19         DM   M
50       21         DM   F
55       20         DM   M

In [32]:
surveys_copy = surveys_df

In [33]:
surveys_copy

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
5,6,7,16,1977,1,PF,M,14.0,NaN
6,7,7,16,1977,2,PE,F,NaN,NaN
7,8,7,16,1977,1,DM,M,37.0,NaN
8,9,7,16,1977,1,DM,F,34.0,NaN
9,10,7,16,1977,6,PF,F,20.0,NaN
10,11,7,16,1977,5,DS,F,53.0,NaN
11,12,7,16,1977,7,DM,M,38.0,NaN
12,13,7,16,1977,3,DM,M,35.0,NaN
13,14,7,16,1977,8,DM,NaN,NaN,NaN
14,15,7,16,1977,6,DM,F,36.0,NaN
15,16,7,16,1977,4,DM,F,36.0,NaN
16,17,7,16,1977,3,DS,F,48.0,NaN
17,18,7,16,1977,2,PP,M,22.0,NaN
18,19,7,16,1977,4,PF,NaN,NaN,NaN
19,20,7,17,1977,11,DS,F,48.0,NaN
20,21,7,17,1977,14,DM,F,34.0,NaN
21,22,7,17,1977,15,NL,F,31.0,NaN
22,23,7,17,1977,13,DM,M,36.0,NaN
23,24,7,17,1977,13,SH,M,21.0,NaN
24,25,7,17,1977,9,DM,M,35.0,NaN
25,26,7,17,1977,15,DM,M,31.0,NaN
26,27,7,17,1977,15,DM,M,36.0,NaN
27,28,7,17,1977,11,DM,M,38.0,NaN
28,29,7,17,1977,11,PP,M,NaN,NaN
29,30,7,17,1977,10,DS,F,52.0,NaN
...,...,...,...,...,...,...,...,...,...
35519,35520,12,31,2002,9,SF,NaN,24.0,36.0
35520,35521,12,31,2002,9,DM,M,37.0,48.0
35521,35522,12,31,2002,9,DM,F,35.0,45.0
35522,35523,12,31,2002,9,DM,F,36.0,44.0
35523,35524,12,31,2002,9,PB,F,25.0,27.0
35524,35525,12,31,2002,9,OL,M,21.0,26.0
35525,35526,12,31,2002,8,OT,F,20.0,24.0
35526,35527,12,31,2002,13,DO,F,33.0,43.0
35527,35528,12,31,2002,13,US,NaN,NaN,NaN
35528,35529,12,31,2002,13,PB,F,25.0,25.0
35529,35530,12,31,2002,13,OT,F,20.0,NaN
35530,35531,12,31,2002,13,PB,F,27.0,NaN
35531,35532,12,31,2002,14,DM,F,34.0,43.0
35532,35533,12,31,2002,14,DM,F,36.0,48.0
35533,35534,12,31,2002,14,DM,M,37.0,56.0
35534,35535,12,31,2002,14,DM,M,37.0,53.0
35535,35536,12,31,2002,14,DM,F,35.0,42.0
35536,35537,12,31,2002,14,DM,F,36.0,46.0
35537,35538,12,31,2002,15,PB,F,26.0,31.0
35538,35539,12,31,2002,15,SF,M,26.0,68.0
35539,35540,12,31,2002,15,PB,F,26.0,23.0
35540,35541,12,31,2002,15,PB,F,24.0,31.0
35541,35542,12,31,2002,15,PB,F,26.0,29.0
35542,35543,12,31,2002,15,PB,F,27.0,34.0
35543,35544,12,31,2002,15,US,NaN,NaN,NaN
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

In [34]:
surveys_copy.columns

Index(['record_id', 'month', 'day', 'year', 'plot_id', 'species_id', 'sex',
       'hindfoot_length', 'weight'],
      dtype='object')

In [35]:
surveys_copy[0:3] =0

In [36]:
surveys_copy

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,0,0,0,0,0,0,0,0.0,0.0
1,0,0,0,0,0,0,0,0.0,0.0
2,0,0,0,0,0,0,0,0.0,0.0
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
5,6,7,16,1977,1,PF,M,14.0,NaN
6,7,7,16,1977,2,PE,F,NaN,NaN
7,8,7,16,1977,1,DM,M,37.0,NaN
8,9,7,16,1977,1,DM,F,34.0,NaN
9,10,7,16,1977,6,PF,F,20.0,NaN
10,11,7,16,1977,5,DS,F,53.0,NaN
11,12,7,16,1977,7,DM,M,38.0,NaN
12,13,7,16,1977,3,DM,M,35.0,NaN
13,14,7,16,1977,8,DM,NaN,NaN,NaN
14,15,7,16,1977,6,DM,F,36.0,NaN
15,16,7,16,1977,4,DM,F,36.0,NaN
16,17,7,16,1977,3,DS,F,48.0,NaN
17,18,7,16,1977,2,PP,M,22.0,NaN
18,19,7,16,1977,4,PF,NaN,NaN,NaN
19,20,7,17,1977,11,DS,F,48.0,NaN
20,21,7,17,1977,14,DM,F,34.0,NaN
21,22,7,17,1977,15,NL,F,31.0,NaN
22,23,7,17,1977,13,DM,M,36.0,NaN
23,24,7,17,1977,13,SH,M,21.0,NaN
24,25,7,17,1977,9,DM,M,35.0,NaN
25,26,7,17,1977,15,DM,M,31.0,NaN
26,27,7,17,1977,15,DM,M,36.0,NaN
27,28,7,17,1977,11,DM,M,38.0,NaN
28,29,7,17,1977,11,PP,M,NaN,NaN
29,30,7,17,1977,10,DS,F,52.0,NaN
...,...,...,...,...,...,...,...,...,...
35519,35520,12,31,2002,9,SF,NaN,24.0,36.0
35520,35521,12,31,2002,9,DM,M,37.0,48.0
35521,35522,12,31,2002,9,DM,F,35.0,45.0
35522,35523,12,31,2002,9,DM,F,36.0,44.0
35523,35524,12,31,2002,9,PB,F,25.0,27.0
35524,35525,12,31,2002,9,OL,M,21.0,26.0
35525,35526,12,31,2002,8,OT,F,20.0,24.0
35526,35527,12,31,2002,13,DO,F,33.0,43.0
35527,35528,12,31,2002,13,US,NaN,NaN,NaN
35528,35529,12,31,2002,13,PB,F,25.0,25.0
35529,35530,12,31,2002,13,OT,F,20.0,NaN
35530,35531,12,31,2002,13,PB,F,27.0,NaN
35531,35532,12,31,2002,14,DM,F,34.0,43.0
35532,35533,12,31,2002,14,DM,F,36.0,48.0
35533,35534,12,31,2002,14,DM,M,37.0,56.0
35534,35535,12,31,2002,14,DM,M,37.0,53.0
35535,35536,12,31,2002,14,DM,F,35.0,42.0
35536,35537,12,31,2002,14,DM,F,36.0,46.0
35537,35538,12,31,2002,15,PB,F,26.0,31.0
35538,35539,12,31,2002,15,SF,M,26.0,68.0
35539,35540,12,31,2002,15,PB,F,26.0,23.0
35540,35541,12,31,2002,15,PB,F,24.0,31.0
35541,35542,12,31,2002,15,PB,F,26.0,29.0
35542,35543,12,31,2002,15,PB,F,27.0,34.0
35543,35544,12,31,2002,15,US,NaN,NaN,NaN
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

In [37]:
surveys_df

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,0,0,0,0,0,0,0,0.0,0.0
1,0,0,0,0,0,0,0,0.0,0.0
2,0,0,0,0,0,0,0,0.0,0.0
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
5,6,7,16,1977,1,PF,M,14.0,NaN
6,7,7,16,1977,2,PE,F,NaN,NaN
7,8,7,16,1977,1,DM,M,37.0,NaN
8,9,7,16,1977,1,DM,F,34.0,NaN
9,10,7,16,1977,6,PF,F,20.0,NaN
10,11,7,16,1977,5,DS,F,53.0,NaN
11,12,7,16,1977,7,DM,M,38.0,NaN
12,13,7,16,1977,3,DM,M,35.0,NaN
13,14,7,16,1977,8,DM,NaN,NaN,NaN
14,15,7,16,1977,6,DM,F,36.0,NaN
15,16,7,16,1977,4,DM,F,36.0,NaN
16,17,7,16,1977,3,DS,F,48.0,NaN
17,18,7,16,1977,2,PP,M,22.0,NaN
18,19,7,16,1977,4,PF,NaN,NaN,NaN
19,20,7,17,1977,11,DS,F,48.0,NaN
20,21,7,17,1977,14,DM,F,34.0,NaN
21,22,7,17,1977,15,NL,F,31.0,NaN
22,23,7,17,1977,13,DM,M,36.0,NaN
23,24,7,17,1977,13,SH,M,21.0,NaN
24,25,7,17,1977,9,DM,M,35.0,NaN
25,26,7,17,1977,15,DM,M,31.0,NaN
26,27,7,17,1977,15,DM,M,36.0,NaN
27,28,7,17,1977,11,DM,M,38.0,NaN
28,29,7,17,1977,11,PP,M,NaN,NaN
29,30,7,17,1977,10,DS,F,52.0,NaN
...,...,...,...,...,...,...,...,...,...
35519,35520,12,31,2002,9,SF,NaN,24.0,36.0
35520,35521,12,31,2002,9,DM,M,37.0,48.0
35521,35522,12,31,2002,9,DM,F,35.0,45.0
35522,35523,12,31,2002,9,DM,F,36.0,44.0
35523,35524,12,31,2002,9,PB,F,25.0,27.0
35524,35525,12,31,2002,9,OL,M,21.0,26.0
35525,35526,12,31,2002,8,OT,F,20.0,24.0
35526,35527,12,31,2002,13,DO,F,33.0,43.0
35527,35528,12,31,2002,13,US,NaN,NaN,NaN
35528,35529,12,31,2002,13,PB,F,25.0,25.0
35529,35530,12,31,2002,13,OT,F,20.0,NaN
35530,35531,12,31,2002,13,PB,F,27.0,NaN
35531,35532,12,31,2002,14,DM,F,34.0,43.0
35532,35533,12,31,2002,14,DM,F,36.0,48.0
35533,35534,12,31,2002,14,DM,M,37.0,56.0
35534,35535,12,31,2002,14,DM,M,37.0,53.0
35535,35536,12,31,2002,14,DM,F,35.0,42.0
35536,35537,12,31,2002,14,DM,F,36.0,46.0
35537,35538,12,31,2002,15,PB,F,26.0,31.0
35538,35539,12,31,2002,15,SF,M,26.0,68.0
35539,35540,12,31,2002,15,PB,F,26.0,23.0
35540,35541,12,31,2002,15,PB,F,24.0,31.0
35541,35542,12,31,2002,15,PB,F,26.0,29.0
35542,35543,12,31,2002,15,PB,F,27.0,34.0
35543,35544,12,31,2002,15,US,NaN,NaN,NaN
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

In [38]:
surveys_copy.tail(6)

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
35543,35544,12,31,2002,15,US,NaN,NaN,NaN
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

In [39]:
surveys_copy.head(6)

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,0,0,0,0,0,0,0,0.0,0.0
1,0,0,0,0,0,0,0,0.0,0.0
2,0,0,0,0,0,0,0,0.0,0.0
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
5,6,7,16,1977,1,PF,M,14.0,NaN

In [40]:
pwd

'/Users/ensamba/BCB546X-Fall2017/python-bcb546'

In [41]:
surveys_df = pd.read_csv("surveys.csv")

In [42]:
surveys_copy = surveys_df.copy()

In [43]:
surveys_copy

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
5,6,7,16,1977,1,PF,M,14.0,NaN
6,7,7,16,1977,2,PE,F,NaN,NaN
7,8,7,16,1977,1,DM,M,37.0,NaN
8,9,7,16,1977,1,DM,F,34.0,NaN
9,10,7,16,1977,6,PF,F,20.0,NaN
10,11,7,16,1977,5,DS,F,53.0,NaN
11,12,7,16,1977,7,DM,M,38.0,NaN
12,13,7,16,1977,3,DM,M,35.0,NaN
13,14,7,16,1977,8,DM,NaN,NaN,NaN
14,15,7,16,1977,6,DM,F,36.0,NaN
15,16,7,16,1977,4,DM,F,36.0,NaN
16,17,7,16,1977,3,DS,F,48.0,NaN
17,18,7,16,1977,2,PP,M,22.0,NaN
18,19,7,16,1977,4,PF,NaN,NaN,NaN
19,20,7,17,1977,11,DS,F,48.0,NaN
20,21,7,17,1977,14,DM,F,34.0,NaN
21,22,7,17,1977,15,NL,F,31.0,NaN
22,23,7,17,1977,13,DM,M,36.0,NaN
23,24,7,17,1977,13,SH,M,21.0,NaN
24,25,7,17,1977,9,DM,M,35.0,NaN
25,26,7,17,1977,15,DM,M,31.0,NaN
26,27,7,17,1977,15,DM,M,36.0,NaN
27,28,7,17,1977,11,DM,M,38.0,NaN
28,29,7,17,1977,11,PP,M,NaN,NaN
29,30,7,17,1977,10,DS,F,52.0,NaN
...,...,...,...,...,...,...,...,...,...
35519,35520,12,31,2002,9,SF,NaN,24.0,36.0
35520,35521,12,31,2002,9,DM,M,37.0,48.0
35521,35522,12,31,2002,9,DM,F,35.0,45.0
35522,35523,12,31,2002,9,DM,F,36.0,44.0
35523,35524,12,31,2002,9,PB,F,25.0,27.0
35524,35525,12,31,2002,9,OL,M,21.0,26.0
35525,35526,12,31,2002,8,OT,F,20.0,24.0
35526,35527,12,31,2002,13,DO,F,33.0,43.0
35527,35528,12,31,2002,13,US,NaN,NaN,NaN
35528,35529,12,31,2002,13,PB,F,25.0,25.0
35529,35530,12,31,2002,13,OT,F,20.0,NaN
35530,35531,12,31,2002,13,PB,F,27.0,NaN
35531,35532,12,31,2002,14,DM,F,34.0,43.0
35532,35533,12,31,2002,14,DM,F,36.0,48.0
35533,35534,12,31,2002,14,DM,M,37.0,56.0
35534,35535,12,31,2002,14,DM,M,37.0,53.0
35535,35536,12,31,2002,14,DM,F,35.0,42.0
35536,35537,12,31,2002,14,DM,F,36.0,46.0
35537,35538,12,31,2002,15,PB,F,26.0,31.0
35538,35539,12,31,2002,15,SF,M,26.0,68.0
35539,35540,12,31,2002,15,PB,F,26.0,23.0
35540,35541,12,31,2002,15,PB,F,24.0,31.0
35541,35542,12,31,2002,15,PB,F,26.0,29.0
35542,35543,12,31,2002,15,PB,F,27.0,34.0
35543,35544,12,31,2002,15,US,NaN,NaN,NaN
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

In [44]:
surveys_copy[0:3] = 0

In [45]:
surveys_copy

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,0,0,0,0,0,0,0,0.0,0.0
1,0,0,0,0,0,0,0,0.0,0.0
2,0,0,0,0,0,0,0,0.0,0.0
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
5,6,7,16,1977,1,PF,M,14.0,NaN
6,7,7,16,1977,2,PE,F,NaN,NaN
7,8,7,16,1977,1,DM,M,37.0,NaN
8,9,7,16,1977,1,DM,F,34.0,NaN
9,10,7,16,1977,6,PF,F,20.0,NaN
10,11,7,16,1977,5,DS,F,53.0,NaN
11,12,7,16,1977,7,DM,M,38.0,NaN
12,13,7,16,1977,3,DM,M,35.0,NaN
13,14,7,16,1977,8,DM,NaN,NaN,NaN
14,15,7,16,1977,6,DM,F,36.0,NaN
15,16,7,16,1977,4,DM,F,36.0,NaN
16,17,7,16,1977,3,DS,F,48.0,NaN
17,18,7,16,1977,2,PP,M,22.0,NaN
18,19,7,16,1977,4,PF,NaN,NaN,NaN
19,20,7,17,1977,11,DS,F,48.0,NaN
20,21,7,17,1977,14,DM,F,34.0,NaN
21,22,7,17,1977,15,NL,F,31.0,NaN
22,23,7,17,1977,13,DM,M,36.0,NaN
23,24,7,17,1977,13,SH,M,21.0,NaN
24,25,7,17,1977,9,DM,M,35.0,NaN
25,26,7,17,1977,15,DM,M,31.0,NaN
26,27,7,17,1977,15,DM,M,36.0,NaN
27,28,7,17,1977,11,DM,M,38.0,NaN
28,29,7,17,1977,11,PP,M,NaN,NaN
29,30,7,17,1977,10,DS,F,52.0,NaN
...,...,...,...,...,...,...,...,...,...
35519,35520,12,31,2002,9,SF,NaN,24.0,36.0
35520,35521,12,31,2002,9,DM,M,37.0,48.0
35521,35522,12,31,2002,9,DM,F,35.0,45.0
35522,35523,12,31,2002,9,DM,F,36.0,44.0
35523,35524,12,31,2002,9,PB,F,25.0,27.0
35524,35525,12,31,2002,9,OL,M,21.0,26.0
35525,35526,12,31,2002,8,OT,F,20.0,24.0
35526,35527,12,31,2002,13,DO,F,33.0,43.0
35527,35528,12,31,2002,13,US,NaN,NaN,NaN
35528,35529,12,31,2002,13,PB,F,25.0,25.0
35529,35530,12,31,2002,13,OT,F,20.0,NaN
35530,35531,12,31,2002,13,PB,F,27.0,NaN
35531,35532,12,31,2002,14,DM,F,34.0,43.0
35532,35533,12,31,2002,14,DM,F,36.0,48.0
35533,35534,12,31,2002,14,DM,M,37.0,56.0
35534,35535,12,31,2002,14,DM,M,37.0,53.0
35535,35536,12,31,2002,14,DM,F,35.0,42.0
35536,35537,12,31,2002,14,DM,F,36.0,46.0
35537,35538,12,31,2002,15,PB,F,26.0,31.0
35538,35539,12,31,2002,15,SF,M,26.0,68.0
35539,35540,12,31,2002,15,PB,F,26.0,23.0
35540,35541,12,31,2002,15,PB,F,24.0,31.0
35541,35542,12,31,2002,15,PB,F,26.0,29.0
35542,35543,12,31,2002,15,PB,F,27.0,34.0
35543,35544,12,31,2002,15,US,NaN,NaN,NaN
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

In [46]:
surveys_copy.head(6)

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,0,0,0,0,0,0,0,0.0,0.0
1,0,0,0,0,0,0,0,0.0,0.0
2,0,0,0,0,0,0,0,0.0,0.0
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
5,6,7,16,1977,1,PF,M,14.0,NaN

In [47]:
surveys_df.head(6)

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
5,6,7,16,1977,1,PF,M,14.0,NaN

In [48]:
surveys_df.iloc[0:3, 1:4]

   month  day  year
0      7   16  1977
1      7   16  1977
2      7   16  1977

In [50]:
surveys_df.loc[[0, 10], :]

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
10,11,7,16,1977,5,DS,F,53.0,NaN

In [51]:
surveys_df.loc[777, ['species_id', 'plot_id', 'weight']]

species_id    DM
plot_id        8
weight        36
Name: 777, dtype: object

In [52]:
surveys_df.loc[1:3:5, ['species_id', 'sex']]

  species_id sex
1         NL   M

In [53]:
surveys_df.iloc[1:3:5, ['species_id', 'sex']]

TypeError: cannot perform reduce with flexible type

In [54]:
surveys_df.iloc[1:3:5, ['species_id', 'sex']]

TypeError: cannot perform reduce with flexible type

In [56]:
surveys_df.loc[[1,3,5], ['species_id', 'sex']]

  species_id sex
1         NL   M
3         DM   M
5         PF   M

In [57]:
surveys_df.columns

Index(['record_id', 'month', 'day', 'year', 'plot_id', 'species_id', 'sex',
       'hindfoot_length', 'weight'],
      dtype='object')

In [58]:
surveys_df.iloc[[1:3:5] [6,7]]

SyntaxError: invalid syntax (<ipython-input-58-45393d166890>, line 1)

In [59]:
surveys_df.iloc[[1,3,5], [6,7]]

  sex  hindfoot_length
1   M             33.0
3   M             36.0
5   M             14.0

In [60]:
surveys_df.iloc[[1,3,5], [5,6]]

  species_id sex
1         NL   M
3         DM   M
5         PF   M